<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--<add key="connectionString" value="server=irsql;database=environment;uid=sa;pwd=1qaz2wsxE"/>-->
    <add key="connectionString" value="Host=115.28.227.188; Port=3306; database=wuxi;user id=root;Password=Pass@word1"/>
    <!--<add key="connectionString" value="Host=127.0.0.1; Port=3306; database=environment;user id=root;Password=1qaz2wsx"/>-->

    <add key="dbhelper" value="HarbinDemo.DBUtility.MySqlHelper,HarbinDemo"/>
    <add key="pm25QuerySql" value="select * from vw_report_heartbeat"/>
    <add key="satisfactionQuerySql" value="select * from vw_report_satisfaction"/>
    <add key="mapQuerySql" value="SELECT * FROM map"/>
    <add key ="hotWordQuerySql" value="select * from vw_report_hotword"/>
    <!--<add key="pm25QuerySql" value="select * from vw_report_heartbeat"/>
    <add key="satisfactionQuerySql" value="select * from vw_report_satisfaction"/>
    <add key="mapQuerySql" value="SELECT * FROM vw_report_map"/>
    <add key ="hotWordQuerySql" value="select * from vw_report_hotword"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add  verb="*" path="*.h" type="HarbinDemo.GetHeartbeatData,HarbinDemo"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add  verb="*" path="*.h" type="HarbinDemo.GetHeartbeatData,HarbinDemo" name="GetHeartbeatData"/>
    </handlers>
  </system.webServer>
</configuration>


<!--"Driver={mySQL}; Server=localhost; Option=16834; Database=mydatabase; "
	"Driver={MySQL ODBC 3.51 Driver}; Server=127.0.0.1; Port=3306; Option=131072; Stmt=; Database=my-database; Uid=username; Pwd=password; "
	"DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost; DATABASE=myDatabase; USER=myUsername; PASSWORD=myPassword; OPTION=3; "
	"DRIVER={MySQL ODBC 3.51 Driver}; SERVER=data.domain.com; PORT=3306; DATABASE=myDatabase; USER=myUsername; PASSWORD=myPassword; OPTION=-->