<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="connectionString" value="server=irsql;database=environment;uid=sa;pwd=1qaz2wsxE"/>
    <add key="dbhelper" value="HarbinCockpit.DBUtility.SqlHelper,HarbinCockpit"/>
    <add key="heartbeatLineQuerySql" value="select * from heartbeat"/>
    <add key="mapQuerySql" value="select * from map"/>
    <add key ="hotWordQuerySql" value="select * from hotWord"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add  verb="*" path="*.h" type="HarbinCockpit.GetHarbinPMData,HarbinCockpit"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add  verb="*" path="*.h" type="HarbinCockpit.GetHarbinPMData,HarbinCockpit" name="GetHarbinPMData"/>
    </handlers>
  </system.webServer>
</configuration>